{% extends "global/base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-bar">
    {% for percentage_item in percentage_itens %}
        <div class="progress content-bar">
            <span>{{ percentage_item.2 }}</span>
            <div class="progress-bar" role="progressbar" style="width: {{ percentage_item.0 }}%" aria-valuenow="{{ percentage_item.0 }}" aria-valuemin="0" aria-valuemax="100">
                {{ percentage_item.1 }}
            </div>
        </div>
    {% endfor %}
    <p>Total {{ total_itens }}</p>
</div>

{% endblock content %}